/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.full-flex-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.block {
  width: 100%;
}